<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUDmF0xjornjrVb7mEwTu19uathHLHoBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>75639961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tienviet.Cloud-Message</string>
	<key>PROJECT_ID</key>
	<string>learning-cloudmessage</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-cloudmessage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75639961:ios:cb19677336adf6abf1dc08</string>
</dict>
</plist>